.DS_Store
/mediaStream
/audio/*
*/node_modules
/server/test.js
/client/.gitignore
/client/readme.md
/client/node_modules
/node_modules
/dash_output/*
/public/multichannel_*
/media
/shScripts/*
!/shScripts/webmTranscoding.zsh
!/shScripts/webm2Dash.zsh
/database/*
/video/*