.DS_Store
/mediaStream
/audio/*
*/node_modules
/server/test.js
/client/.gitignore
/client/readme.md
/public/multichannel_*
/media
/shScripts/*
!/shScripts/webmTranscoding.zsh
!/shScripts/webm2Dash.zsh